/* SocialMediaButton.css */
.social-media-button {
    position: relative;
    display: inline-block;
  }
  
  .share-button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a, .dropdown-content button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333; /* Text color */
  }
  
  .dropdown-content a:hover {
    background-color: #f2f2f2; /* Background color on hover */
  }
  
  .dropdown-content button {
    background-color: #25d366; /* WhatsApp color */
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #128C7E; /* WhatsApp color on hover */
  }
  